
/* 
    dette standariserer mitt bruk av farger.
*/
:root{
    --mainColor: rgb(250, 166, 106);
    --lightColor:#97dfd3;
    --darkColor: #282828;
    --whiteColor:#eee;
    --navFotColor: rgb(255, 106, 0);
}

* {
    border-radius: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    margin: 0;
    /* min-height: 200vh; for å se om navbar funkær*/
    background-color: var(--whiteColor);
}

nav{
    position: sticky;
    top: 0;
    right: 0;

    background-color: var(--navFotColor);
    /* width: 100vw; */
    z-index: 1;
    list-style-type: none;
    border-radius: 0;
}

nav > ul{
    display: flex;
    margin: 0 1em;
    padding: 0;
    list-style-type: none;
    align-items: center;
}
/*
    knapper til navbar
*/
a{
    padding: 8px;
    text-decoration: none;
    color: var(--darkColor);
}

a:hover {
    background-color: var(--darkColor);
    color: var(--mainColor);
}
/* focus, visited, og active */
#logo{
    /* max-height: 80px; */
    width: 3em;
}

#logoBox:hover {
    transform: rotate(10deg);
    background-color: #eeeeee00;
}

#nav_right {
    /* float: right; */
    margin-left: auto;
}

#heroImg{
    border: 8px solid var(--darkColor);
    margin: auto;
    width: calc(100vw - 16px);
    border-radius: 0 0 1em 1em;
    vertical-align: middle;
    aspect-ratio: 1500 / 919;
    transition: ease-in-out 2s;
}

#heroImg:hover {
}

@media(orientation: portrait){
    #heroImg{
        border-radius: 0;
    }
}

@media(orientation: landscape){
    .wrapper{
        margin: auto;
        padding: 1em;
        width: 95vw;
        background-color: var(--mainColor);
        border-radius: 0 0 1em 1em;
    }
}

@media(orientation: portrait){
    .wrapper{
        margin: auto;
        padding: 1em;
        width: calc(100vw - 2em);
        background-color: var(--mainColor);
        border-radius: 0 0 1em 1em;
    }
}

h1 {
    text-align: center;
    background-color: var(--darkColor);
    max-width: 30rem;
    margin: 1em auto;
    color: var(--whiteColor);
    font-family: 'Times New Roman', Times, serif;
    padding: 6px;
    font-size: 2.5em;
}

@media(orientation: landscape){
    #gridboks {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-template-rows: 1fr 2fr; */
        grid-template-areas: 
        "boks1 boks2 boks3"
        "boks4 boks4 boks4";
        gap: 1em;
        row-gap: 3em;
    
        /* background-color: rgba(255, 0, 0, 0.05); */
    }
}

@media(orientation: portrait){
    #gridboks {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "boks1"
        "boks2"
        "boks3"
        "boks4";
        gap: 1em;
    
        /* background-color: rgba(255, 0, 0, 0.05); */
    }
}

#boks1, #boks2, #boks3, #boks4 {
    padding: 1em;
    border: 1px solid var(--whiteColor);
    background-color: var(--darkColor);
    color: var(--whiteColor);
    text-align: center;
}

#boks1 {
    grid-area: boks1;
}

#boks2 {
    grid-area: boks2;
}

#boks3 {
    grid-area: boks3;
}

#boks4 {
    grid-area: boks4;
    display: flex;

    gap: 1em;
    text-align: left;
}

#canny_cat {
    height: 16em;
}

.parallax{
    background-image: url("images/canny_cat.jpeg");
    min-height: 20vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 4em;
    border: 2px solid var(--darkColor);
}



/* Kontakt */

.parallaxKontakt{
    background-image: url("images/canny_cat.jpeg");
    /* min-height: 75vh; */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

#kontaktinfo {
    line-height: 2em;
}



/* Om meg */

#kameler {
    width: 100%;
}


footer {
    background-color: var(--navFotColor);
    /* width: calc(100vw - 2em); */
    z-index: 1;
    border-radius: 0;
    min-height: 10em;
    margin-top: 15em;
    padding: 1em;
}